@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 95%;
}

.clfix:after {
	clear: both;
	content: " ";
	display: table-cell;
}

.in-blk {
	display: inline-block;
	vertical-align: middle;
}

.justify {
	text-align: justify;
}

.justify::after {
	content: " ";
	display: inline-block;
	width: 100%;
}

.link {
	text-decoration: none;
	color: #ff001e;
}

.article {
	padding-top: 20px;
	padding-bottom: 1px;
}

.article__title {
	font-size: 2em;
	margin: 1.7em 2px;
	text-align: center;
}

.button {
	background: #cccccc;
	border: none;
	color: #3f3f3f;
	display: inline-block;
	margin-top: 20px;
	padding: .9em .8em;
	font-weight: bold;
}

.button:hover {
	cursor: pointer;
}

/*
 * Header
 */

.header {
	background: white;
	box-shadow: 1px -13px 35px black;
	position: fixed;
	padding: 5px 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.col-2 {
	width: 49%;
}

.header__logo {
	vertical-align: middle;
}

.header__menu ul {
	padding: 0;
	list-style: none;
}

.header__menu,
.header__login {
	font-size: 20px;
	font-weight: bold;
}

.header__login .link {
	display: block;
}

.menu-btn {
	color: #ff001e;
	float: right;
	margin-top: 6px;
	font-size: 35px;
}

.mobile-wrapper {
	left: 0;
	opacity: 0;
	padding-bottom: 20px;
	position: absolute;
	text-align: center;
	transform: translateY(-244px);
    transition: transform .7s ease, opacity .8s ease, background .3s ease;
	width: 100%;
}

.mobile-wrapper--visible {
	background: white;
	box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.33);
	opacity: 1;
	display: block;
	transform: translateY(0);
	line-height: 35px;
	letter-spacing: 0.7px;
}

@media (min-width: 720px) {
	.mobile-wrapper {
		color: initial;
		display: inline-block;
		left: 0;
		opacity: 1;
		padding: 0;
		position: static;
		transform: translateY(0);
		text-align: left;
		vertical-align: middle;
		width: 78%;
	}

	.header__menu {
		display: inline-block;
		font-size: 13px;
	}

	.menu-btn {
		display: none;
	}

	.header__menu ul {
		margin-left: 20px;
	}

	.header__logo {
		display: inline-block;
		vertical-align: middle;
	}

	.header__menu ul li {
		display: inline-block;
		padding: 0 0.5vw;
		position: relative;
		top: -3px;
		vertical-align: middle;
	}	

	.header__login {
		font-size: 13px;
		position: absolute;
		top: 11px;
		right: 0;
	}

	.header__login .link {
		margin-left: 10px;
		display: inline;
	}

	.item {
		position: relative;
	}

	.item::after {
		content: " ";
		display: block;
		position: absolute;
	}

	.item:hover::after {
		width: 100%;
		bottom: -10px;
		left: 0;
		height: 3px;
		background: #ff001e;
	}
}

@media (min-width: 900px) {
	.header__menu,
	.header__login {
		font-size: 18px;
	}

	.mobile-wrapper {
		width: 83%;
	}

	.header__login {
		top: 16px;
	}
}

@media (min-width: 980px) {
	.header__menu ul li {
		padding: 0 1.4vw;
	}
}

@media (min-width: 1440px) {
	.mobile-wrapper {
		width: 89%;
	}
}


/*
 * Banner
 */

.banner-area {
	background: url(../img/imageTop.png) no-repeat;
    background-position-x: 70%;
    color: white;
	margin-top: 60px;
    height: 290px;
    padding-top: 6%;
    width: 100%;
}

.banner-area ul {
	list-style: none;
}

.banner-area ul li::before {
	background: white;
	border-radius: 50%;
	content: " ";
	display: inline-block;
	height: 4px;
	left: -9px;
	position: relative;
	vertical-align: middle;
	width: 4px;
}

@media (min-width: 400px) {
	.banner-area ul {
		width: 50%;
	}
}

@media (min-width: 530px) {
	.banner-area {
		font-size: 20px;
	}
}

@media (min-width: 700px) {
	.banner-area {
		background-position-x: 75%;
		height: 356px;
		line-height: 40px;
	}
}

@media (min-width: 1000px) {
	.banner-area {
		font-size: 23px;
		height: 500px;
	}
}

@media (min-width: 1200px) {
	.banner-area {
		background-position-x: 100%;
		height: 540px;
	}

	.banenr-area h2 {
		margin-bottom: 20px;
	}

	.banner-area ul {
		width: 30%;
		margin-left: 5%;
	}
}

/*
 * Plan details
 */

.plan-details {
	color: #3f3f3f;
	text-align: center;
	line-height: 1.7;
	margin-top: 50px;
	width: 90%;
}

.plan-details p {
	font-size: .85em;
}

.option {
	margin-top: 50px;
}

@media (min-width: 700px) {
	.plan-details__info {
		width: 80%;
		margin: 0 auto;
	}

	.option {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		text-align: center;
	}

	.plan-details__options {
		text-align: justify;
	}

	.plan-details__options::after {
		content: " ";
		display: inline-block;
		width: 100%;
	}
}

@media (min-width: 1000px) {
	.plan-details__options {
		font-size: 15px;
		margin: 0 auto;
		width: 80%;
	}

	.option img {
		width: 30%;
	}

	.plan-details {
		font-size: 20px;
	}

	.plan-details__info {
		width: 50%;
	}
}

/*
 * Modalities
 */

.modalities {
	background: #d7d7d7;
	color: #3f3f3f;
	/*height: 722px;*/
}

@media (min-width: 660px) {
	.modalities {
		/*height: 690px;*/
	}
}

/* Filters */

.filter {
	margin: 0 auto;
	width: 80%;
}

.filter label {
	display: block;
	position: relative;
	margin-bottom: 20px;
}

.filter label:hover {
	cursor: pointer;
}

.filter label::before {
	background: white;
	border-radius: 2px;
	content: " ";
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-right: 5px;
	border: 1px solid black;
	vertical-align: sub;
	transition: background .5s ease;
}

input[type='checkbox']:checked + label::before {
	background: black;
}

input[type='checkbox']:disabled + label {
	color: #a9a9a9;
}

input[type='checkbox']:disabled + label::before {
	background: #e2e2e2;
	border-color: #a9a9a9;
}

@media (min-width: 400px) {
	.filter label {
		font-size: 1.1em;
	}
}

@media (min-width: 670px) {
	.filter {
		width: 100%;
	}

	.filter label {
		display: inline-block;
	}

	label[for='aquatic'] {
		margin-right: 60px;
	}
}


#aquatic, #non-aquatic {
	position: absolute;
	left: -8888px;
}

/* End of Filters */

#modality__type {
	visibility: hidden;
	position: absolute;
}

.modality {
	background: white;
    box-shadow: 0px 0px 8px -1px;
    display: inline-block;
    height: 360px;
    margin: 30px 10px;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    vertical-align: top;
}

.modality h2 {
	font-size: 2em;
}

.bx-wrapper {
	background: none;
	border: none;
	box-shadow: none;
}

.bx-viewport {
	height: 400px !important;
	width: 99% !important;
}

/*
 * FAQ
 */
.faq {
	background: #f1f1f1;
	color: #3f3f3f;
}

.faq .container {
	width: 90%;
}

.column {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.question {
	margin: 30px 0;
	line-height: 1.3;
	text-align: left;
}

.question p {
	font-size: .9em;
}

@media (min-width: 1000px) {
	.column {
		width: 46%;
	}

	.question {
		margin: 40px 0;
	}
}

.button--faq {
	border: #7a787d 1px solid;
	background: transparent;
	color: #7a787d;
	display: block;
	font-weight: normal;
	margin: 50px auto;
	padding: .7em 2.8em;
	transition: .3s ease;
}

.button--faq:hover {
	background: #7a787d;
	border: 1px solid #f1f1f1;
	color: #f1f1f1;
}

/*
 * Footer
 */

.footer {
	background: #3f3f3f;
	color: white;
	font-weight: bold;
}

.footer .container {
	padding: 30px 0;
	text-align: center;
	width: 80%;
}

.footer__text {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.form {
	display: inline-block;
}

.form__text {
	border: none;
	height: 47px;
	margin-right: -4px;
	padding-left: 13px;
}

@media (min-width: 950px) {
	.footer .container {
		width: 95%;
	}

	.footer__text {
		margin-right: 30px;
	}
}

@media (min-width: 1000px) {
	.form__text {
		min-width: 290px;
	}
}

@media (min-width: 1200px) {
	.form__text {
		min-width: 420px;
	}
}